<hr /> 
      <footer> 
        <p><small>网站基于Nodejs开发&nbsp;版权所有&nbsp;&copy;&nbsp;&nbsp;Powered By&nbsp;&nbsp;</small><a href="http://www.sorvey.com/" target="_blank"><small>Sorvey.Wu</small></a>&nbsp;<small>2013</small></p> 
      </footer>
    </div>
  </body>
  <script src="/javascripts/jquery-1.7.2.min.js"></script> 
  <script src="/javascripts/bootstrap.js"></script> 
</html>