<%- include header %>

<div class="main">
	
		<div class="left-content">
			<div class="panel">
			  	<div class="box-header clearfix">
			  		当前话题
			  		<% if(locals.user){%>
			  		<a href='/publish' id='create_topic_btn'>
			            <button class='btn btn-success btn-mini'>发布话题</button>
			        </a>
			        <%}%>
			  	</div>
			  	<% topics.forEach(function(post, index) { %> 
			  	<div class="articleList">
			  		<div class="img"><img src="../images/avatar.jpg" width="40" height="40" class="img-circle" /></div>
			  		<div class="title"><a href="../topic/<%= post.topicid %>"><%= post.title %></a></div>
			  		<div class="author"><%= post.username %></div>
			  		<div class="time"><%= post.time %></div>
			  	</div>	
			  	<% }) %>
			</div>
		</div>
		<div class="right-bar">
		  	<div class="panel">
			  	<div class="box-header">
			  		个人信息
			  	</div>
			  	<div class="box-content">
			  		<% if(locals.user){%>
			  		<div class="userInfo"><img src="../images/avatar.jpg" width="40" height="40" class="img-circle" title="<%= user.username %>" />&nbsp;<a href="#"><%= user.username %></a></div>
			  		<div class="userInfo"></div>
			  		<div class="userInfo"></div>
			  		<div class="userInfo">注册时间：<%= user.time %></div>	
			  		<%}else{%>
			  		<div class="userInfo"></div>
			  		<div class="userInfo">欢迎光临MyDairy</div>
					<div class="userInfo"></div>
			  		<div class="userInfo">
			  			<a href='/login'>
			            	<button class='btn btn-success btn-mid'>登录</button>
			        	</a><small>&nbsp;未注册用户，请先<a href="/reg">注册</a></small>
			    	</div>
			  		<%}%>
			  	</div>
			</div>
		</div>
		<div class="clear"></div>
</div>


<%- include footer %>